<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>

    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>

    <%= form.label :birth_date, style: "display: block" %>
    <%= form.date_field :birth_date %>
  </div>


<h2>Gifts</h2>
  <div data-controller="gift">
    <table>
      <thead>
        <tr>
          <th>Gift Name</th>
          <th>Price</th>
          <th>Link</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody data-gift-target="container">
        <%= form.fields_for :gifts do |gift_form| %>
          <%= render partial: 'gift_fields', locals: { f: gift_form } %>
        <% end %>
      </tbody>
    </table>

    <a href="#" data-action="click->gift#addGift">Add Gift</a>

    <!-- Hidden template for new gift fields -->
    <template data-gift-target="template">
      <%= form.fields_for :gifts, Gift.new, child_index: 'NEW_RECORD' do |gift| %>
        <%= render partial: 'gift_fields', locals: { f: gift } %>
      <% end %>
    </template>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>